@media only screen and (min-width: 1024px) and (max-width: 1439px){
  .first{
    width: 100vw;
    height: 18.3vw;
    background-image: url('../images/hi_1024.svg')
  }
  .second{
    width: 100vw;
    height: 10.938vw;
    background-image: url('../images/musical_1024.svg')
  }
  .third{
    width: 33.98vw;
    height: 10.156vw;
    margin-top: 2.7vw;
    margin-left: 4vw;
    background-image: url('../images/club_1024.svg')
  }
  .piano{
    margin-left: 5vw;
  }
  @keyframes jump {
    0% {background-image-position: 0 0;}
    12.5% {background-image-position: 0 -18.3vw;}
    25% {background-image-position: 0 -36.6vw;}
    37.5% {background-image-position: 0 -54.9vw;}
    50% {background-image-position: 0 -73.2vw;}
    62.5% {background-image-position: 0 -91.5vw;}
    85% {background-image-position: 0 -109.8vw;}
    97.5% {background-image-position: 0 -128.1vw;}
    100% {background-image-position: 0 -146.4vw;}
  }
}
