@media only screen and (min-width: 1921px){
  .first{
    width: 100%;
    height: 18.1vw;
    background-repeat: no-repeat;
    background-image: url('../images/hi_1920.svg')
  }
  .second{
    width: 100%;
    height: 11.042vw;
    background-repeat: no-repeat;
    background-image: url('../images/musical_1920.svg')
  }
  .third{
    width: 100%;
    height: 21.302vw;
    margin-top: -4.635vw;
    background-repeat: no-repeat;
    background-image: url('../images/club_1920.svg')
  }
  .third p{
    font-size: 4.688vw;
    margin-top: 22.135vw;
    margin-left: 9.167vw;
  }
  .piano{
    width: 52.604vw;
    height: 15.885vw;
    margin-top: 4.167vw;
  }
  .p_y{
    width: 7.083vw;
    height: 15.052vw;
  }
  .p_g{
    width: 5.469vw;
    height: 11.771vw;
    margin-left: 3.125vw;
  }
  .odin{
    margin-left: 4.531vw;
  }
  .dva{
    margin-left: 1.667vw;
  }
  .tri{
    margin-left: 1.667vw;
  }
  .chetire{
    margin-left: 1.667vw;
  }
  .pyti{
    margin-left: 1.667vw;
  }
  .shesti{
    margin-left: 1.667vw;
  }
  .pg {
    margin-top: -16.15vw;
  }


  .fourth{
    width: 100%;
    height: 18.6vw;
    background-repeat: no-repeat;
    background-image: url('../images/guitasaur_1920.svg')
  }
  .drum{
    width: 31.302vw;
    height: 33vw;
    margin-left: 1.927vw;
  }
  .drum_one{
    width: 100%;
    height: 17.188vw;
    background-repeat: no-repeat;
    background-image:  url('../images/drum_one_1920.svg');
  }
  .drum_two{
    width: 100%;
    height: 17.188vw;
    background-repeat: no-repeat;
    background-image:  url('../images/drum_two_1920.svg');
  }
  .drum_box{
    width: 100%;
    height: 15.833vw;
    background-repeat: no-repeat;
    background-image:  url('../images/drum_box_1920.svg');
  }
  .teach{
    width: 100%;
    height: 8.3vw;
    margin-left: 3.646vw;
    margin-bottom: 8.229vw;
    background-repeat: no-repeat;
    background-image: url('../images/teach_1920.svg');
  }
  .slogan_one{
    margin-left: 12.5vw;
  }
  .slogan_one p{
    font-size: 3.646vw;
  }
  .you{
    width: 100%;
    height: 11.979vw;
    margin-left: 3.854vw;
    background-repeat: no-repeat;
    background-image: url('../images/you_1920.svg');
  }
  .dino{
    width: 100%;
    height: 12.7vw;
    margin-left: 4.8vw;
    background-repeat: no-repeat;
    background-image: url('../images/dino_1920.svg');
  }
  .guitar{
    width: 100%;
    height: 8.3vw;
    background-repeat: no-repeat;
    background-image: url('../images/guitar_1920.svg');
  }
  .gitar{
    width: 100%;
    height: 34.375vw;
    margin-bottom: -18.5vw;
    background-repeat: no-repeat;
    background-image: url('../images/gitar_1920.svg');
  }
  .fortepiano{
    width: 100%;
    height: 11.5vw;
    margin-left: 3.854vw;
    margin-top: 4.68vw;
    background-repeat: no-repeat;
    background-image: url('../images/fortepiano_1920.svg');
  }
  .drums{
    width: 100%;
    height: 10.3vw;
    margin-left: 3.9vw;
    margin-top: 4.7vw;
    background-repeat: no-repeat;
    background-image: url('../images/drums_1920.svg');
  }
  .path{
    margin-left: 3.9vw;
  }
  .slogan_two p{
    font-size: 3.646vw;
    margin-left: 27.865vw;
  }
  .music-loader{
    gap: 1.563vw;
  }
  .loader-line{
    width: 2.87vw;
    height: 1vw;
    border-radius: 1.3vw;
  }
  .dinosaur{
    width: 100%;
    height: 16.6vw;
    background-repeat: no-repeat;
    background-image: url('../images/dinosaur_1920.svg');
  }
  .bottom{
    width: 100vw;
    height: 10vw;
    margin-top: 7vw;
  }
  .name p{
    margin-top: 2.3vw;
    margin-left: 3.9vw;
    font-size: 2.5vw;
    line-height: 0.8vw;
  }
  .logo{
    width: 100%;
    height: 5.8vw;
    margin-left: 77vw;
    margin-top: -5.2vw;
    background-repeat: no-repeat;
    background-image: url('../images/white_1920.svg');
  }
  @keyframes jump {
    0% {background-position: 0 0;}
    12.5% {background-position: 0 -18.5vw;}
    25% {background-position: 0 -37vw;}
    37.5% {background-position: 0 -55.5vw;}
    50% {background-position: 0 -74vw;}
    62.5% {backgroune-position: 0 -92.5vw;}
    85% {background-position: 0 -111vw;}
    97.5% {backgroune-position: 0 -130vw;}
    100% {background-position: 0 -148vw;}
  }
  @keyframes prig {
    0% {background-position: 0 0;}
    12.5% {background-position: 0 -19vw;}
    25% {background-position: 0 -37vw;}
    37.5% {background-position: 0 -56vw;}
    50% {background-position: 0 -74.375vw;}
    62.5% {background-position: 0 -93vw;}
    85% {background-position: 0 -112vw;}
    97.5% {background-position: 0 -130vw;}
    100% {background-position: 0 -148.75vw;}
  }
  @keyframes jumping {
    0% {background-position: 0 0;}
    12.5% {background-position: 0 -11.5vw;}
    25% {background-position: 0 -23vw;}
    37.5% {background-position: 0 -34.5vw;}
    50% {background-position: 0 -46vw;}
    62.5% {background-position: 0 -57.5vw;}
    85% {background-position: 0 -69vw;}
    97.5% {background-position: 0 -80vw;}
    100% {background-position: 0 -91vw;}
  }
  @keyframes musicloader {
    0% { height: 5.2vw;}
    50% { height: 12vw;}
    100% { height: 5.2vw;}
  }
}
