body{
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  background-color:#7943A6;
  /* animation: changingbg 15s linear infinite; */
}


/* первая */
.first{
  display: block;
  width: 100vw;
  height: 18.906vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:  url('../images/hi.svg');
  animation: jump 0.8s steps(1) infinite;
}


/* вторая */
.second{
  display: block;
  margin-top: 0.781vw;
  width: 100vw;
  height: 11.484vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/musical.svg');
}


/* третья */
.third{
  display: inline-block;
  margin-top: 1.172vw;
  width: 43.594vw;
  height: 16.335vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/club.svg');
}
.third p{
  margin-left: 8.594vw;
  margin-top: 16.406vw;
  /* font-family: 'Fira Sans'; */
  font-weight: 500;
  font-size: 4.688vw;
  text-transform: uppercase;
  color: #F9ED32;
  animation: scale 1s ease infinite;
}
/* фортепиано */
.piano{
  display: inline-block;
  margin-top: -2.344vw;
  width: 53.750vw;
  height: 16.335vw;
  }
.p_y{
  width: 7.212vw;
  height: 15.389vw;
  background-color: #F9ED32;
  border-radius: 1.563vw;
  display: inline-block;
  margin-top: 0vw;
}
.p_y:hover {
  background-color: white;
  transition: all 0.01s linear;
}
.p_g{
  width: 5.590vw;
  height: 12.031vw;
  background-color: #8DC73F;
  border-radius: 1.563vw;
  display: inline-block;
}
.odin{
  margin-left: 4.453vw;
}
.dva{
  margin-left: 1.719vw;
}
.tri{
  margin-left: 1.719vw;
}
.chetire{
  margin-left: 1.719vw;
}
.pyti{
  margin-left: 1.719vw;
}
.shesti{
  margin-left: 1.719vw;
}
.p_g:hover{
  background-image: white;
  transition: all 0.01s linear;
}
.pg {
  margin-top: -16.406vw;
}


/* четвертая */
.fourth{
  display: inline-block;
  margin-top: 1.562vw;
  width: 100vw;
  height: 19.141vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/guitasaur.svg');
  animation: prig 1s steps(1) infinite;
}


/* пятая */
/* барабан */
.drum{
  display: inline-block;
  margin-top: -3.906vw;
  width: 32.018vw;
  height: 33.750vw;
  }
.drum_one{
  display: inline-block;
  width: 15.625vw;
  height: 17.578vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/drum_one.svg');
  animation: rotate 0.6s ease-in-out infinite;
  animation-direction: alternate-reverse;
}
.drum_one:hover{
  /* transform: rotate(20deg); */
  animation-play-state: paused;
}
.drum_two{
  display: inline-block;
  margin-left: -0.781vw;
  width: 16.406vw;
  height: 17.578vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/drum_two.svg');
  animation: rotate 0.6s ease-in-out infinite;
  animation-direction: alternate-reverse;
}
.rotate:hover{
  animation-play-state: paused;
}
.drum_box{
  display: inline-block;
  margin-top: -1.016vw;
  width: 32.031vw;
  height: 16.172vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/drum_box.svg')
}
.fifth{
  display: inline-block;
  margin-top: -0.781vw;
  width: 59.922vw;
  /* height: 335px; */
}
.teach{
  display: inline-block;
  margin-left: 2.656vw;
  margin-bottom: 7.813vw;
  width: 59.922vw;
  height: 8.504vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/teach.svg');
}
.slogan_one{
  display: inline-block;
  margin-left: 10.938vw;
  width: 59.922vw;
  height: 11.875vw;
  /* font-family: 'Fira Sans'; */
  font-weight: 700;
  font-size: 5.469vw;
  text-transform: uppercase;
  color: #F9ED32;
  /* background-image: url('../images/slogan_one.svg'); */
}
.slogan_one p{
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 3.750vw;
}
.scale {
  animation: scale 1s ease infinite;
}


/* шестая */
.you{
  display: inline-block;
  width: 100vw;
  height: 12.245vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/you.svg')
}


/* седьмая */
.dino{
  display: inline-block;
  margin-top: 4.688vw;
  margin-left: 4.375vw;
  width: 8.273vw;
  height: 12.891vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/dino.svg')
}
.turn{
  animation: turn 1s ease infinite;
}
.turn:hover{
  animation-play-state: paused;
}
.guitar{
  display: inline-block;
  margin-left: 7.422vw;
  margin-bottom: 0.781vw;
  width: 60.533vw;
  height: 8.519vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/guitar.svg');
}
.gitar{
  display: inline-block;
  margin-left: -12.5vw;
  margin-bottom: -20.547vw;
  width: 28.828vw;
  height: 38.125vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/gitar.svg');
  animation: scaling 2s ease infinite;
}


/* восьмая */
.fortepiano{
  display: inline-block;
  margin-left: 2.656vw;
  margin-top: 4.922vw;
  width: 72.583vw;
  height: 11.719vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/fortepiano.svg');
  animation: jumping 1s steps(1) infinite;
}

/* девятая */
.drums{
  display: inline-block;
  margin-top: 5vw;
  width: 100vw;
  height: 10.547vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/drums.svg');
}


/* десятая */
.path{
  display: inline-block;
  /* margin-bottom: 50px; */
  margin-left: 3.125vw;
  height: 6.250vw;
}
.slogan_two p{
  display: inline-block;
  margin-top: 4.688vw;
  margin-left: 26.172vw;
  /* font-family: 'Fira Sans'; */
  font-weight: 500;
  font-size: 4.688vw;
  text-transform: uppercase;
  color: #F9ED32;

}
.music-loader{
  display: flex;
  margin-top: 6.094vw;
  align-items: center;
  gap: 1.563vw;
}
.loader-line{
  width: 2.891vw;
  height: 0.156vw;
  border-radius: 1.563vw;
  background-color: #F9ED32;
  animation: musicloader 1.5s ease-in-out infinite;
  }
  .loader-line:nth-child(1)
  {
    animation-delay: 1s;
  }
  .loader-line:nth-child(2)
  {
    animation-delay: 0.8s;
  }
  .loader-line:nth-child(3)
  {
    animation-delay: 0.6s;
  }
  .loader-line:nth-child(4)
  {
    animation-delay: 0.4s;
  }
  .loader-line:nth-child(5)
  {
    animation-delay: 0.2s;
  }
  .loader-line:nth-child(6)
  {
    animation-delay: 0.2s;
  }
  .loader-line:nth-child(7)
  {
    animation-delay: 0.4s;
  }
  .loader-line:nth-child(8)
  {
    animation-delay: 0.6s;
  }
  .loader-line:nth-child(9)
  {
    animation-delay: 0.8s;
  }
  .loader-line:nth-child(10)
  {
    animation-delay: 0.10s;
  }
  .loader-line:nth-child(11)
  {
    animation-delay: 0.10s;
  }
  .loader-line:nth-child(12)
  {
    animation-delay: 0.8s;
  }
  .loader-line:nth-child(13)
  {
    animation-delay: 0.6s;
  }
  .loader-line:nth-child(14)
  {
    animation-delay: 0.4s;
  }
  .loader-line:nth-child(15)
  {
    animation-delay: 0.2s;
  }
.dinosaur{
  display: inline-block;
  margin-left: 4.063vw;
  /* margin-top: 75px; */
  width: 22.205vw;
  height: 18.516vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/dinosaur.svg');
  animation: rotating 0.5s linear infinite;
  animation-direction: alternate-reverse;
}


/* последняя */
.bottom{
  display: inline-block;
  margin-top: 4.609vw;
  margin-right: 0vw;
  width: 100vw;
  height: 11.719vw;
  background-color: #8DC73F;
}
.name p{
  display: inline-block;
  margin-top: 3.750vw;
  margin-left: 2.656vw;
  font-weight: 500;
  font-size: 2.344vw;
  text-transform: uppercase;
  line-height: 0.078vw;
  color: #FFFFFF;
}
.logo{
  display: inline-block;
  width: 27.578vw;
  height: 8.750vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/white.svg');
  margin-left: 69.063vw;
  margin-top: -7.813vw;
}


/* анимации */
@keyframes jump {
  0% {background-position: 0 0;}
  12.5% {background-position: 0 -18.906vw;}
  25% {background-position: 0 -37.813vw;}
  37.5% {background-position: 0 -56.719vw;}
  50% {background-position: 0 -75.625vw;}
  62.5% {background-position: 0 -94.531vw;}
  85% {background-position: 0 -113.438vw;}
  97.5% {background-position: 0 -132.344vw;}
  100% {background-position: 0 -151.25vw;}
}
@keyframes prig {
  0% {background-position: 0 0;}
  12.5% {background-position: 0 -19.141vw;}
  25% {background-position: 0 -38.281vw;}
  37.5% {background-position: 0 -57.422vw;}
  50% {background-position: 0 -76.563vw;}
  62.5% {background-position: 0 -95.7vw;}
  85% {background-position: 0 -114.844vw;}
  97.5% {background-position: 0 -133.984vw;}
  100% {background-position: 0 -153.125vw;}
}
@keyframes rotate {
  0% {transform: rotate(0);}
  100% {transform: rotate(20deg);}
}
@keyframes scaling {
  30% {transform: scale(0.8);}
  40% {transform: scale(1.1);}
  50% {transform: scale(1.1);}
  70% {transform:  scale(1.1);}
  100% {transform: scale(0.8);}
}
@keyframes scale {
  30% {transform: scale(0.8);}
  40% {transform:  scale(1.1);}
  50% {transform: rotate(20deg) scale(1.1);}
  70% {transform: rotate(0deg) scale(1.1);}
  100% {transform: scale(1);}
}
@keyframes turn {
  0% {transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes jumping {
  0% {background-position: 0 0;}
  12.5% {background-position: 0 -11.719vw;}
  25% {background-position: 0 -23.438vw;}
  37.5% {background-position: 0 -35.156vw;}
  50% {background-position: 0 -46.875vw;}
  62.5% {background-position: 0 -58.594vw;}
  85% {background-position: 0 -70.313vw;}
  97.5% {background-position: 0 -82.031vw;}
  100% {background-position: 0 -93.75vw;}
}
@keyframes musicloader {
  0% { height: 4.688vw;}
  50% { height: 9.375vw;}
  100% { height: 4.688vw;}
}
@keyframes rotating {
    0% {transform: rotate(0);}
    40% {transform: rotate(-20deg);}
    60% {transform: rotate(20deg);}
    80% {transform: rotate(0deg);}
    100% {transform: rotate(-20deg);}
}
@keyframes changingbg {
  0% {background-color: #7943A6;}
  25% {background-color: #935DC0;}
  50% {background-color: #FFFFFF;}
  75% {background-color: #935DC0;}
  100% {background-color: #7943A6;}
}
