body{
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  background:#7943A6;
  /* animation: changingbg 15s linear infinite; */
}


/* первая */
.first{
  display: block;
  width: 1280px;
  height: 242px;
  background:  url('../images/hi.svg');
  animation: jump 0.8s steps(1) infinite;
}


/* вторая */
.second{
  display: block;
  margin-top: 10px;
  width: 1280px;
  height: 147px;
  background: url('../images/musical.svg');
}


/* третья */
.third{
  display: inline-block;
  margin-top: 15px;
  width: 558px;
  height: 209.09px;
  background: url('../images/club.svg');
}
.third p{
  margin-left: 110px;
  margin-top:210px;
  /* font-family: 'Fira Sans'; */
  font-weight: 500;
  font-size: 60px;
  text-transform: uppercase;
  color: #F9ED32;
  animation: scale 1s ease infinite;
}
/* фортепиано */
.piano{
  display: inline-block;
  margin-top: -30px;
  width: 688px;
  height: 209.09px;
  }
  .p_y{
    width: 92.31px;
    height: 196.98px;
    background: #F9ED32;
    border-radius: 20px;
    display: inline-block;
    margin-top: 0px;
  }
  .p_y:hover {
    background: white;
    transition: all 0.01s linear;
  }
  .p_g{
    width: 71.55px;
    height: 154px;
    background: #8DC73F;
    border-radius: 20px;
    display: inline-block;
  }
  .odin{
    margin-left: 57px;
  }
  .dva{
    margin-left: 22px;
  }
  .tri{
    margin-left: 22px;
  }
  .chetire{
    margin-left: 22px;
  }
  .pyti{
    margin-left: 22px;
  }
  .shesti{
    margin-left: 22px;
  }
  .p_g:hover{
    background: white;
    transition: all 0.01s linear;
  }
  .pg {
    margin-top: -210px;
  }


/* четвертая */
.fourth{
  display: inline-block;
  margin-top: 20px;
  width: 1280px;
  height: 245px;
  background: url('../images/guitasaur.svg');
  animation: prig 1s steps(1) infinite;
}


/* пятая */
/* барабан */
.drum{
  display: inline-block;
  margin-top: -50px;
  width: 409.83px;
  height: 432px;
  }
  .drum_one{
    display: inline-block;
    width: 200px;
    height: 225px;
    background: url('../images/drum_one.svg');
    animation: rotate 0.6s ease-in-out infinite;
    animation-direction: alternate-reverse;
  }
  .drum_one:hover{
    /* transform: rotate(20deg); */
    animation-play-state: paused;
  }
  .drum_two{
    display: inline-block;
    margin-left: -10px;
    width: 210px;
    height: 225px;
    background: url('../images/drum_two.svg');
    animation: rotate 0.6s ease-in-out infinite;
    animation-direction: alternate-reverse;
  }
  .rotate:hover{
    animation-play-state: paused;
  }
  .drum_box{
    display: inline-block;
    margin-top: -13px;
    width: 410px;
    height: 207px;
    background: url('../images/drum_box.svg')
  }
.fifth{
  display: inline-block;
  margin-top: -10px;
  width: 767px;
  /* height: 335px; */
}
.teach{
  display: inline-block;
  margin-left: 34px;
  margin-bottom: 100px;
  width: 767px;
  height: 108.85px;
  background: url('../images/teach.svg');
}
.slogan_one{
  display: inline-block;
  margin-left: 140px;
  width: 767px;
  height: 152px;
  /* font-family: 'Fira Sans'; */
  font-weight: 700;
  font-size: 70px;
  text-transform: uppercase;
  color: #F9ED32;
  /* background: url('../images/slogan_one.svg'); */
}
.slogan_one p{
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 48px;
}
.scale {
  animation: scale 1s ease infinite;
}


/* шестая */
.you{
  display: inline-block;
  width: 1280px;
  height: 156.74px;
  background: url('../images/you.svg')
}


/* седьмая */
.dino{
  display: inline-block;
  margin-top: 60px;
  margin-left: 56px;
  width: 105.9px;
  height: 165px;
  background: url('../images/dino.svg')
}
.turn{
  animation: turn 1s ease infinite;
}
.turn:hover{
  animation-play-state: paused;
}
.guitar{
  display: inline-block;
  margin-left: 95px;
  margin-bottom: 10px;
  width: 774.82px;
  height: 109.04px;
  background: url('../images/guitar.svg');
}
.gitar{
  display: inline-block;
  margin-left: -160px;
  margin-bottom: -263px;
  width: 369px;
  height: 488px;
  background: url('../images/gitar.svg');
  animation: scaling 2s ease infinite;
}


/* восьмая */
.fortepiano{
  display: inline-block;
  margin-left: 34px;
  margin-top: 63px;
  width: 929.06px;
  height: 150px;
  background: url('../images/fortepiano.svg');
  animation: jumping 1s steps(1) infinite;
}

/* девятая */
.drums{
  display: inline-block;
  margin-top: 64px;
  width: 1280px;
  height: 135px;
  background: url('../images/drums.svg');
}


/* десятая */
.path{
  display: inline-block;
  /* margin-bottom: 50px; */
  margin-left: 40px;
  height: 80px;
}
.slogan_two p{
  display: inline-block;
  margin-top: 60px;
  margin-left: 335px;
  /* font-family: 'Fira Sans'; */
  font-weight: 500;
  font-size: 60px;
  text-transform: uppercase;
  color: #F9ED32;

}
.music-loader{
  display: flex;
  margin-top: 78px;
  align-items: center;
  gap: 20px;
}
.loader-line{
  width: 37px;
  height: 2px;
  border-radius: 20px;
  background-color: #F9ED32;
  animation: musicloader 1.5s ease-in-out infinite;
  }
  .loader-line:nth-child(1)
  {
    animation-delay: 1s;
  }
  .loader-line:nth-child(2)
  {
    animation-delay: 0.8s;
  }
  .loader-line:nth-child(3)
  {
    animation-delay: 0.6s;
  }
  .loader-line:nth-child(4)
  {
    animation-delay: 0.4s;
  }
  .loader-line:nth-child(5)
  {
    animation-delay: 0.2s;
  }
  .loader-line:nth-child(6)
  {
    animation-delay: 0.2s;
  }
  .loader-line:nth-child(7)
  {
    animation-delay: 0.4s;
  }
  .loader-line:nth-child(8)
  {
    animation-delay: 0.6s;
  }
  .loader-line:nth-child(9)
  {
    animation-delay: 0.8s;
  }
  .loader-line:nth-child(10)
  {
    animation-delay: 0.10s;
  }
  .loader-line:nth-child(11)
  {
    animation-delay: 0.10s;
  }
  .loader-line:nth-child(12)
  {
    animation-delay: 0.8s;
  }
  .loader-line:nth-child(13)
  {
    animation-delay: 0.6s;
  }
  .loader-line:nth-child(14)
  {
    animation-delay: 0.4s;
  }
  .loader-line:nth-child(15)
  {
    animation-delay: 0.2s;
  }
.dinosaur{
  display: inline-block;
  margin-left: 52px;
  /* margin-top: 75px; */
  width: 284.22px;
  height: 237px;
  background: url('../images/dinosaur.svg');
  animation: rotating 0.5s linear infinite;
  animation-direction: alternate-reverse;
}


/* последняя */
.bottom{
  display: inline-block;
  margin-top: 59px;
  margin-right: 0px;
  width: 1320px;
  height: 150px;
  background: #8DC73F;
}
.name p{
  display: inline-block;
  margin-top: 48px;
  margin-left: 34px;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1px;
  color: #FFFFFF;
}
.logo{
  display: inline-block;
  width: 353px;
  height: 112px;
  background: url('../images/white.svg');
  margin-left: 884px;
  margin-top: -100px;
}


/* анимации */
@keyframes jump {
  0% {background-position: 0 0;}
  12.5% {background-position: 0 -242px;}
  25% {background-position: 0 -484px;}
  37.5% {background-position: 0 -726px;}
  50% {background-position: 0 -968px;}
  62.5% {background-position: 0 -1210px;}
  85% {background-position: 0 -1452px;}
  97.5% {background-position: 0 -1694px;}
  100% {background-position: 0 -1936px;}
}
@keyframes prig {
  0% {background-position: 0 0;}
  12.5% {background-position: 0 -245px;}
  25% {background-position: 0 -490px;}
  37.5% {background-position: 0 -735px;}
  50% {background-position: 0 -980px;}
  62.5% {background-position: 0 -1225px;}
  85% {background-position: 0 -1470px;}
  97.5% {background-position: 0 -1715px;}
  100% {background-position: 0 -1960px;}
}
@keyframes rotate {
  0% {transform: rotate(0);}
  100% {transform: rotate(20deg);}
}
@keyframes scaling {
  30% {transform: scale(0.8);}
  40% {transform: scale(1.1);}
  50% {transform: scale(1.1);}
  70% {transform:  scale(1.1);}
  100% {transform: scale(0.8);}
}
@keyframes scale {
  30% {transform: scale(0.8);}
  40% {transform:  scale(1.1);}
  50% {transform: rotate(20deg) scale(1.1);}
  70% {transform: rotate(0deg) scale(1.1);}
  100% {transform: scale(1);}
}
@keyframes turn {
  0% {transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes jumping {
  0% {background-position: 0 0;}
  12.5% {background-position: 0 -150px;}
  25% {background-position: 0 -300px;}
  37.5% {background-position: 0 -450px;}
  50% {background-position: 0 -600px;}
  62.5% {background-position: 0 -750px;}
  85% {background-position: 0 -900px;}
  97.5% {background-position: 0 -1050px;}
  100% {background-position: 0 -1200px;}
}
@keyframes musicloader {
  0% { height: 60px;}
  50% { height: 120px;}
  100% { height: 60px;}
}
@keyframes rotating {
    0% {transform: rotate(0);}
    40% {transform: rotate(-20deg);}
    60% {transform: rotate(20deg);}
    80% {transform: rotate(0deg);}
    100% {transform: rotate(-20deg);}
}
@keyframes changingbg {
  0% {background-color: #7943A6;}
  25% {background-color: #935DC0;}
  50% {background-color: #FFFFFF;}
  75% {background-color: #935DC0;}
  100% {background-color: #7943A6;}
}
